@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-hover:hover {
  text-shadow:
    0 0 5px #00ff88,
    0 0 10px #00ff88,
    0 0 20px #00ff88;
}

@font-face {
    font-family: 'Raluweh';
    src: url('../fonts/RALUWEH.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('../fonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PlusJakartaSans', sans-serif;
}

/* Floating Overlay Animation */
@keyframes floatY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}



.floating-element {
  animation: floatY 8s ease-in-out infinite alternate;
}


/* width scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* track (background) */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 999px;
}

/* thumb (yang bisa digeser) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #10b981, #064e3b); /* emerald */
  border-radius: 999px;
  border: 2px solid rgba(0,0,0,0.6);
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #34d399, #047857);
}

/* NProgress bar color */
#nprogress .bar {
  background: #10b981 !important; /* emerald-500 */
}

/* Spinner (optional) */
#nprogress .spinner-icon {
  border-top-color: #10b981 !important;
  border-left-color: #10b981 !important;
}

/* Shadow glow (optional) */
#nprogress .peg {
  box-shadow: 0 0 10px #10b981, 0 0 5px #10b981;
}
